@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model External.Lib.Article[]

@{
    Layout = null;
    var blog = (Connected.Service.BlogService.Blog)ViewBag.Blog;
}

<!DOCTYPE html>
<html>
<head>
    <title>.NET Core WCF</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        body {
            background-color: whitesmoke;
        }

        .navbar-default {
            border-color: #e7e7e7;
        }

        .glyphicon {
            margin-right: 4px;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://chsakell.com/" target="_blank"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="https://github.com/chsakell/wcf-dot-net-core" target="_blank"><span class="glyphicon glyphicon-download-alt"></span>GitHub</a></li>
                    <li><a href="https://www.facebook.com/chsakells.blog/" target="_blank"><span class="glyphicon glyphicon-heart-empty"></span>Facebook</a></li>
                    <li><a href="https://twitter.com/chsakellsblog" target="_blank"><span class="glyphicon glyphicon-volume-up"></span>Twitter</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span>About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h3>Blog: Data from Connected WCF Service</h3>
        <p>
            <table class="table table-striped">
                <tr>
                    <td>@blog.Name</td>
                    <td>@blog.Owner</td>
                    <td><a class="btn btn-default" href="@blog.URL" target="_blank">View</a></td>
                </tr>
            </table>
        </p>

        <h3>Articles: Data from Custom WCF Clients</h3>

        <table class="table table-striped">
            @foreach (var article in Model)
            {
                <tr>
                    <td>@article.Title</td>
                    <td><a class="btn btn-default" href="@article.URL" target="_blank">View</a></td>
                    <td>@article.Author</td>
                    <td>@article.Contents</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>